<button class="close-button" data-close aria-label="<%= t "decidim.authorization_modals.show.close_modal" %>" type="button">
  <span aria-hidden="true">&times;</span>
</button>

<%= render partial: "decidim/kids/authorization_modals/content" %>
