<div class="callout warning">You need to verify your identity as a tutor to access this page</div>

verify yourself sir please with <a href="<%= tutor_adapter.root_path %>"><%= tutor_adapter.description %></a>
